<div class="container">
    <div class="row post-heading">
        <h2 class="col-8">{{post.title}}</h2>
        <p class="col-4">Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
    </div>
    <div class="row">
        <p class="col-12">{{post.content}}</p>
    </div>
    <div class="row">
        <div class="col-6 d-flex justify-content-end">
            <button id="updatePost" class="btn btn-success">Update</button>
        </div>
        <div class="col-6">
            <button id="deletePost" data-id="{{post.id}}" data-user-id="{{post.user_id}}"
                class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>
<script src="/js/alterPost.js"></script>