<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a href="/new-post">
                <button class="btn btn-success" id="newPost">+ New Post</button>
            </a>
        </div>
    </div>
    {{#each user.posts as |post|}}
    <a href="/dashboard/posts/{{post.id}}">
        <div class="container post">
            <div class="row post-heading d-flex">
                <h2 class="col-8">{{post.title}}</h2>
                <p class="col-4 align-self-center d-flex justify-content-end post-date">Posted by {{post.user.username}}
                    on {{format_date post.createdAt}}</p>
            </div>
            <div class="row">
                <p class="col-12 post-content">{{post.content}}</p>
            </div>
        </div>
    </a>
    {{/each}}
</div>