<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <form>
                <div class="row post-heading" data-id="{{post.id}}" data-user-id="{{post.user_id}}">
                    <h2 id="former-title" class="col-8">{{post.title}}</h2>
                    <p class="col-4">Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
                </div>
                <div class="form-group">
                    <label for="newPostTitle">Title</label>
                    <input type="text" class="form-control" id="newPostTitle" placeholder="{{post.title}}">
                </div>
                <div class="form-group">
                    <label for="newPostContent">Content</label>
                    <textarea type="text" class="form-control" id="newPostContent">{{post.content}}</textarea>
                </div>
                <div class="row">
                    <div class="col-6 d-flex justify-content-end">
                        <button id="updatePost" class="btn btn-success">Update</button>
                    </div>
                    <div class="col-6">
                        <button id="deletePost" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<script src="/js/alterPost.js"></script>